*.o
*.exe
.deps/
config.log
config.h
config.status
Makefile
stamp-h1
egrep.c
fscanner.c
cscope.out
cscope.in.out
cscope.po.out
.vs/
.vscode/

*.cmake
CMakeCache.txt
CMakeFiles/

*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.VC.opendb
*.VC.db
*.sdf
Debug/
Win32/
ipch/
*.dir/
build/

